ul{
    overflow: hidden;
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #00203FFF;
    border-bottom: 1vh solid brown;
    color: darkgray;
    width: 99vw;
}
ul img{
    width: 190px;
    height: 10vh;
    margin: 1vh ;
    /* border: 2px solid brown; */
    border-radius: 0 10px 0 10px;
}
ul ul{
    position: relative;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 50vw;
    border-bottom: none;
    overflow: hidden;
    height: 12vh;
}
ul ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 150px;
    height: 10vh;
    border-left: 4px solid white;
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    padding: 1vh 0;
    font-size: 20px;
}
ul ul li:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    font-size: 30px;
    overflow: hidden;
    font-weight: bold;
}