input.ng-touched.ng-invalid{
    border: red 2px solid;
}
select.ng-touched.ng-invalid{
    border: red 2px solid;
}


*{
    font-size: 20px;
    margin: 0;
    padding: 0;
}
h1{
    margin: 5px auto;
    font-size: larger;
}
form{
    display: flex;
    width: max-content;
    flex-direction: column;
    border: 2px solid darkblue;
    border-radius: 10px;
    margin:  40px auto;
    padding: 10px;
    box-shadow: 1px 1px 5px darkblue;
}
div{
    margin: 5px;
    transition: 0.5s ease-in-out;
    padding: 5px 20px;
}
/* input:focus, select:focus div{
    border: 2px solid black;
    transition: 0.5s ease-in-out;
} */
li{
    list-style: none;
}
input, select{
    outline: none;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    background-color: lightgray;
    border-bottom: black 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
}
span{
    position: absolute;
    right: 300px;
    border: 2px solid red;
    width: 300px;
    border-radius: 10px;
    padding: 2.5px;
    margin-top: 2.5px;
    margin-left: 300px;
    background-color: white;
}
span::after, span::before{
    right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
span::after{
    border-color: rgba(136, 183, 213, 0);
	border-right-color: darkred;
	border-width: 7px;
	margin-top: -7px;
}
span::before{
    border-color: rgba(194, 225, 245, 0);
	border-right-color: red;
	border-width: 11px;
	margin-top: -11px;
}


button{
    margin: 10px auto;
    height: 55px;
    width: 30%;
    border-radius: 4px ;
}
.button_disabled{
    background-color: darkgray;
    border: none;
    color: black;
}

.button_enable{
    background-color: darkgreen;
    color: white;
    font-size: larger;
}


