
<form [formGroup]="SurveyForm" (ngSubmit)="submitForm()">
    <h1>Application for Survey</h1>
    <div>
        <h4>User Name: </h4>
        <input formControlName="fullname" required type="text">
        <!-- {{fullname}} -->
        <span style="color:red;font-weight: bold;" [hidden]="SurveyForm.controls.fullname.valid || SurveyForm.controls.fullname.untouched" >Please enter your user name</span>
    </div>
    <div>
        <h4>Email: </h4>
        <input formControlName="EmailId" required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
        <span style="color:red;font-weight: bold;" [hidden]=" SurveyForm.controls.EmailId.valid || SurveyForm.controls.EmailId.untouched" >Please enter your valid Email</span>
    </div>
    <div>
        <h4>State:</h4>
        <select formControlName="state_data">
            <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
        </select>
        <span style="color:red;font-weight: bold;" [hidden]="SurveyForm.controls.state_data.valid || SurveyForm.controls.state_data.untouched">Please select your state</span>
    </div>
    <div>
        <h4>Age:</h4>
        <input formControlName="age" required type="number" min="10" max="100">
        <span style="color:red;font-weight: bold;" [hidden]="SurveyForm.controls.age.valid || SurveyForm.controls.age.untouched">Please select your age</span>
    </div>
    <div>
        <h4>What's your favorite ice cream flavor </h4>
        <select formControlName="flavors_data">
            <option *ngFor="let flavour of flavours" value="{{flavour}}">{{flavour}}</option>
        </select>
    </div>
    <div>
        <h4>What's your favorite meal  </h4>
        <select formControlName="meal_data">
            <option *ngFor="let meal of meals" value="{{meal}}">{{meal}}</option>
        </select>
    </div>
    <div>
        <h4>How many cups of coffee do you drink on average every day? </h4>
        <input formControlName="cups_data" type="number" min="1" max="10">
    </div>
    <div>
        <h4>What type of music is your favorite? </h4>
        <select formControlName="music_data">
            <option *ngFor="let music of musics" value="{{music}}">{{music}}</option>
        </select>
    </div>
    <div>
        <h4>What's your favorite movie: </h4>
        <input formControlName="movie_data" type="text">
    </div>
        <button type="submit" [disabled]="SurveyForm.invalid">SUBMIT</button>
        <!-- <button [disabled]="theForm.invalid" [ngClass]={button_disabled:theForm.invalid,button_enable:!theForm.invalid} (click)="submitForm(theForm)">SUBMIT</button> -->
</form>
