<form [formGroup]="magazineForm" (ngSubmit)="submitForm()" #theForm = "ngForm">
    Full Name: <input formControlName="fullname" type="text"/>
    <br/>
    <span style="color: red" [hidden]="magazineForm.controls.fullname.valid || magazineForm.controls.fullname.untouched">Please enter you name</span>
    <br>
    Email: <input formControlName="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="email"/>
    <br/>
    <span style="color: red" [hidden]="magazineForm.controls.Email.valid || magazineForm.controls.Email.untouched">Please enter you Email</span>
    <br/>
    <br/>
    Magazine edition:
    <select formControlName="selectedEdition">
        <option *ngFor="let e of editions" [ngValue]="e">{{e.editionName}}</option>
    </select>
    <br/>
    <br/>
    shipping option:
    <input type="radio" formControlName="slectedShipping"  value="GROUND"/>Ground
    <input type="radio" formControlName="slectedShipping"  value="Air"/>Air
    <br/>
    <br/>
    <input formControlName="acceptPolicy" type="checkbox">I accept the terms and conditions<br/>
    <br/>
    Price:{{magazineForm.value.selectedEdition.price}}
    <br/>
    <br/>
    <button type="submit"  [disabled]="magazineForm.invalid || !magazineForm.value.acceptPolicy" >Purchase</button>
</form>