<button (click)="get_calculated_Data()">Refresh</button>
<div>
    <h1>Music</h1>
    <tr>
        <td>
            Rock:
        </td>
        <td>
            <p  [ngStyle]="{'width.px': music_data['Rock'] / music_data['total'] * 100 }" >{{music_data["Rock"] / music_data["total"] * 100}}</p>
        </td>
    </tr>
    <tr>
        <td>
            Pop:
        </td>
        <td>
            <p  [ngStyle]="{'width.px': music_data['Pop'] / music_data['total'] * 100 }" >{{music_data["Pop"] / music_data["total"] * 100}}</p>
        </td>
    </tr>
    <tr>
        <td>
            Classical:
        </td>
        <td>
            <p  [ngStyle]="{'width.px': music_data['Classical'] / music_data['total'] * 100 }" >{{music_data["Classical"] / music_data["total"] * 100}}</p>
        </td>
    </tr>
    <tr>
        <td>
            Metal:
        </td><td>
            <p  [ngStyle]="{'width.px': music_data['Metal'] / music_data['total'] * 100 }" >{{music_data["Metal"] / music_data["total"] * 100}}</p>
        </td>
    </tr>
    <tr>
        <td>
            Country:
        </td><td>
            <p  [ngStyle]="{'width.px': music_data['Country'] / music_data['total'] * 100 }" >{{music_data["Country"] / music_data["total"] * 100}}</p>
        </td>
    </tr>
</div>