ul {
  width: 25vw;
  border: 2px solid black;
  word-wrap: break-word;
  list-style: none;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  img {
    /* height: 50%; */
    width: 180px;
    display: flex;
    margin: auto;
  }
  h1 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
