<div class="Home_Page_Container" [ngClass]="{Home_Page_Container_changer:changer}">
    <div class="Cards_Container">
        <!-- <h1>Shopping List</h1> -->
        <div class="Cards" [ngClass]="{Cards_changer:changer}" *ngFor="let item of itemsData" id="{{item.number}}" (click)="display_details(item.number)">
            <img src="{{item.imageUrl}}" alt="">
            <div style="display: flex;"><h2>{{item.name}} </h2></div>
            <div [ngClass]="{Card_items_changer:changer}" class="Card_items">
                <h2>  ${{item.price}}</h2>
                <input class="checkbox" type="checkbox" (click)="check_checked(item.number)" [(ngModel)]="isChecked[item.number]">
                <button  (click)="decrease_count(item.number)">-</button>
                <button (click)="increase_count(item.number)">+</button>
                <input type="number" min="0" max="100" title="Title" [(ngModel)]="quantity[item.number-1]" (keyup)="Send_array_data();send_array_count()"/>
            </div>
        </div>    
    </div>    
    <app-product-display [id]="display_prod_id - 1"></app-product-display>
</div>
