<h2>Survey Data Display</h2>
<div class="visual_data">
    <div class="visual">
        <h1 class="fa fa-music"> Music</h1>
        <tr>
            <td>
                Rock:
            </td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Rock'] / music_data['total']* 400 }">
                    {{music_data["Rock"] / music_data["total"] * 100 | number:'2.0-1' }}%</p>
            </td>
        </tr>
        <tr>
            <td>
                Pop:
            </td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Pop'] / music_data['total']* 400 }">
                    {{music_data["Pop"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                Classical:
            </td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Classical'] / music_data['total']* 400 }">
                    {{music_data["Classical"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                Metal:
            </td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Metal'] / music_data['total']* 400 }">
                    {{music_data["Metal"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                Country:
            </td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Country'] / music_data['total']* 400 }">
                    {{music_data["Country"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
    </div>
    <div class="visual">
        <h1 class="fa fa-forumbee">Flavours</h1>
        <tr>
            <td>
                Chocolate:
            </td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['Chocolate'] / flavors_data['total']* 400 }">
                    {{flavors_data["Chocolate"] / flavors_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                Vanilla:
            </td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['Vanilla'] / flavors_data['total']* 400 }">
                    {{flavors_data["Vanilla"] / flavors_data["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                Strawberry:
            </td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['Strawberry'] / flavors_data['total']* 400 }">
                    {{flavors_data["Strawberry"] / flavors_data["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                ButterScotch:
            </td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['ButterScotch'] / flavors_data['total']* 400 }">
                    {{flavors_data["ButterScotch"] / flavors_data["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
    </div>
    <div class="visual">
        <h1 class="fa fa-cutlery" >Favorite Meal</h1>
        <tr>
            <td>
                breakfast:
            </td>
            <td>
                <p [ngStyle]="{'width.px': favourite_meal['breakfast'] / favourite_meal['total']* 400 }">
                    {{favourite_meal["breakfast"] / favourite_meal["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                lunch:
            </td>
            <td>
                <p [ngStyle]="{'width.px': favourite_meal['lunch'] / favourite_meal['total']* 400 }">
                    {{favourite_meal["lunch"] / favourite_meal["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td>
                dinner:
            </td>
            <td>
                <p [ngStyle]="{'width.px': favourite_meal['dinner'] / favourite_meal['total']* 400 }">
                    {{favourite_meal["dinner"] / favourite_meal["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>      
    </div>
    
<div class="visual_summary">
    <h1>Summary</h1>
    <p style="color: black; background-color: white;"> Total {{form_data.length}} times form has been submitted</p>
    <hr>
    <p style="color: black; background-color: white;"> Total times left blank </p>
    <p style="color: black; background-color: white;"> Meal: {{favourite_meal["undefined"]}} </p>
    <p style="color: black; background-color: white;"> Music: {{music_data["undefined"]}} </p>
    <p style="color: black; background-color: white;"> Ice Cream: {{flavors_data["undefined"]}} </p>
    <hr>
    <ul>
        <li>{{calculated_data['Music'].top | number:'2.0'}}% people like to here {{calculated_data['Music'].name}} kind of music</li>
        <li>Most of the people around {{calculated_data['Flavors'].top | number:'2.0'}}% like {{calculated_data['Flavors'].name}}  flavour in IceCreame</li>              
        <li>Around {{calculated_data['Meal'].top | number:'2.0'}}% of people like {{calculated_data['Meal'].name}}  as their fav meal</li>
    </ul>
</div>
</div>

<!-- <h2>Survey Data Display</h2>
<div class="visual_data">
    <div class="visual">
        <h1 style="top:40px;">Music</h1>
        <tr>
            <td>
                <h5>Rock:</h5>
            </td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Rock'] / music_data['total']* 400 }">
                    {{music_data["Rock"] / music_data["total"] * 100 | number:'2.0-1' }}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                Pop:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Pop'] / music_data['total']* 400 }">
                    {{music_data["Pop"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                Classical:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Classical'] / music_data['total']* 400 }">
                    {{music_data["Classical"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                Metal:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Metal'] / music_data['total']* 400 }">
                    {{music_data["Metal"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                Country:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Country'] / music_data['total']* 400 }">
                    {{music_data["Country"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                Country:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': music_data['Country'] / music_data['total']* 400 }">
                    {{music_data["Country"] / music_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
    </div>
    <div class="visual">
        <h1 style="left: 180px;top:60px">Flavours</h1>
        <tr>
            <td><h5>
                Choclolate:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['Chocolate'] / flavors_data['total']* 400 }">
                    {{flavors_data["Chocolate"] / flavors_data["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                Vanilla:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['Vanilla'] / flavors_data['total']* 400 }">
                    {{flavors_data["Vanilla"] / flavors_data["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                Strawberry:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['Strawberry'] / flavors_data['total']* 400 }">
                    {{flavors_data["Strawberry"] / flavors_data["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                ButterScotch:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': flavors_data['ButterScotch'] / flavors_data['total']* 400 }">
                    {{flavors_data["ButterScotch"] / flavors_data["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
    </div>
    <div class="visual">
        <h1 style="left: 140px; top:100px; width: 200px;">Favorite Meal</h1>
        <tr>
            <td><h5>
                breakfast:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': favourite_meal['breakfast'] / favourite_meal['total']* 400 }">
                    {{favourite_meal["breakfast"] / favourite_meal["total"] * 100| number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                lunch:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': favourite_meal['lunch'] / favourite_meal['total']* 400 }">
                    {{favourite_meal["lunch"] / favourite_meal["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>
        <tr>
            <td><h5>
                dinner:
            </h5></td>
            <td>
                <p [ngStyle]="{'width.px': favourite_meal['dinner'] / favourite_meal['total']* 400 }">
                    {{favourite_meal["dinner"] / favourite_meal["total"] * 100 | number:'2.0-1'}}%</p>
            </td>
        </tr>      
    </div>
</div>
<div class="visual_data">
    <div class="visual_summary">
        <p style="color: black; background-color: white;"> Total {{form_data.length}} times form has been submitted</p>
        <p style="color: black; background-color: white;"> Total times left blank </p>
        <p style="color: black; background-color: white;"> Meal: {{favourite_meal["undefined"]}} </p>
        <p style="color: black; background-color: white;"> Music: {{music_data["undefined"]}} </p>
        <p style="color: black; background-color: white;"> Ice Cream: {{flavors_data["undefined"]}} </p>
        <p style="color: black; background-color: white;">_____ people like to here _____ kind of music</p>
        <p style="color: black; background-color: white;">Most of the people of _____ like _____ flavour in IceCreame</p>              
        <p style="color: black; background-color: white;">Around _____ of people like _____ as their fav meal</p>
    </div>
</div> -->
