<h1>Welcome to {{title}} application</h1>


<div>
    <h2>Node JS</h2>
    <ol>
        <li><b>npm install npm:</b> For NPM</li>
        <li><b>npm install @Angular/cli:</b> For Angular</li>
        <li><b>npm --v:</b> Check NPM Version</li>
        <li><b>ng --v:</b> Check Angular Version</li>
        <li><b>"package.json"</b> describes package versions</li>
        <li><b>npm outdated:</b> For checking any out dated versions</li>
        <li><b>npm install:</b> For installing latest packages</li>
        <li><b>npm uninstall package_name:</b> For uninstalling packages</li>
    </ol>
</div>

<div>
    <h2>Starting Angular</h2>
    <ol>
        <li><b>ng new project_name:</b> For creating angular project</li>
        <li><b>ng g --help:</b> To see what we can generate</li>
        <li><b >ng serve:</b> For starting the Developement time web server to build and execute the project and check every changes</li>
        <hr>
        <p><b>Example:</b> ng new Project1</p>
        <hr>
        <p><b>Note:</b> </p>
        <p>g : generate</p>
        <p>-g : global</p>
    </ol>
</div>

<div>
    <h2>Extra Commands</h2>
    <ol>
        <li><b>--skip-install:</b> Skipping NPM packages</li>
        <li><b>--routing:</b> Creating routing module</li>
        <li><b>--minimal:</b> Skips some features of angular</li>
        <li><b>--skip-git:</b> No git will be added to the project</li>
        <li><b>--dry-run / -d:</b> Used to check what changes can be made</li>
        <li><b>-s / --inline-style:</b> For skipping CSS files</li>
        <li><b>-S / --skip-test:</b> For skipping test files</li>
        <li><b>-t / --inline-template :</b> For skipping template/HTMl files</li>
        <hr>
        <p><b>Examples:</b></p>
        <p>ng new Project1 --dry-run</p>
        <p>ng new Project1 -s -S -t</p>
    </ol>
</div>


<div>
    <h2>Types Script</h2>
    <ol>
        <li>TypeScript is Compiled to Java Script by Angular called <b>Transpilation</b></li>
        <li>Uses <b>Classes, Methods, var, let, const</b></li>
        <li>Not yet supported by all browser</li>
        <li>TypeScript is super set of JavaScript</li>
        <li><b>Object Oriented Programming</b></li>
        <li><b>npm install -g typescript:</b> For type script installation</li>
    </ol>
</div>

<div>
    <h2>TypeScript Types</h2>
    <ol>
        <li><b>var l:string = ""</b> stores string</li>
        <li><b>var m:boolean = true / false</b> stores boolean values</li>
        <li><b>var n: number = 123</b> stores numbers</li>
        <li><b>var o: any</b> can store any type of data type</li>
    </ol>
    <hr>
    <ol>
        <li><b>Array:</b>can store number of values of specific type</li>
        <li><b>object:</b>stores objects</li>
        <p><b>Example:</b></p>
        <p><b>var x:string[] = ["asds", "wasd", "awsdfd"]</b></p>
        <p><b>var y:number[] = [1, 2, 3, 8, 9876]</b></p>
        <p><b>var z:object[] = []</b></p>
    </ol>
</div>

<div>
    <h2>Functions</h2>
    <ol>
        <li>Used to call certain specific lines of code to run a speciic task</li>
        <li>To avoid multiple lines of same code</li>
    </ol>
</div>