input{
    height: 40px;
    width: 500px;
    margin: 20px;
    display: block;
}
button{
    height: 46px;
    margin: 20px;
}
h3,p{
    margin: 20px;
}
div{
    padding: 10px;
    border: 1px solid black;
    margin: auto 20px;
    /* width: 800px; */
    word-wrap: break-word;
}
.colorback{
    background-color: gray;
    color: darkblue;
    transition: 0.8s;
}
.uncolorback{
    background-color: white;
    color: black;
}

input.ng-valid{
    box-shadow: 10px 5px 2px black;
}